@import 'styles/scss/colors';
@import 'styles/scss/common';

.container{
    @extend .card;
    grid-area: class;
    box-shadow: 0px 3px 10px rgba(27, 27, 27, 0.08);
}

.itemContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.classContainer{
    @include item(8px);
}

@media screen and (max-width: 600px) {
    .container{
        box-shadow: none;
    }
}