@import 'styles/scss/colors';

.container{
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 80%;
}

.button{
    width: 50%;
    border-radius: 4px;
    &__active{
        @extend .button;
        border: 1px solid $active;
    }
}

@media screen and (max-width: 600px) {
    .container{
        flex-direction: column;
        gap: 14px;
        width: 100%;
    }
    .button{
        width: 100%;
    }
}